.kTxt {
  color: rgb(66, 66, 127);
}

.btnHover:hover,
.btnHover:focus {
  background-color: white;
  border-radius: 50px;
  color: black !important;
}

.jumboTron {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.imageJumbo {
  width: 500px;
  height: 300px;
}

.textJumbotron {
  align-self: center;
}
.wave {
  width: 100%;
}

.marketCrypto {
  height: 100vh;
}

.textMarket {
  color: gray !important;
  cursor: pointer;
  border: none;
}

.textMarket:hover,
.textMarket:focus {
  color: black !important;
}

.textCoin {
  color: gray !important;
}

.textPersen {
  color: green;
}

.btnBuy {
  border: 1px solid #dbdbdb !important;
}

.btn-check:focus + .btn,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}
